@tailwind base;
@tailwind components;
@tailwind utilities;


/* Homepage styles */
.article{
    background-image: url('../public/assets/home/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pattern{
    background-image: url('../public/assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.speakerzx7{
    background-image: url('../public/assets/home/mobile/image-speaker-zx7.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.earphones{
    background-image: url('../public/assets/home/mobile/image-earphones-yx1.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.audiogear{
    background-image: url('../public/assets/shared/mobile/image-best-gear.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


/* Headphones styles */
